<p id="notice"><%= notice %></p>

<p>
  <strong>Resource:</strong>
  <%= @artist.resource_id %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artist.artist_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
