<%= form_for(@users_mark) do |f| %>
  <% if @users_mark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_mark.errors.count, "error") %> prohibited this users_mark from being saved:</h2>

      <ul>
      <% @users_mark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :music_id %><br>
    <%= f.number_field :music_id %>
  </div>
  <div class="field">
    <%= f.label :mark %><br>
    <%= f.number_field :mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
